@model AsopagosTest.Models.PayUBase

<div class="row margin-top-50">
    <!--<div class="col-sm-6">
        <div class="jumbotron">
            <h1>Prueba</h1>
            <p>Esta es la prueba de una aplicación que envía datos</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Más Info</a></p>
        </div>
    </div>-->
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Formulario de Captura de Datos</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form", id = "form", @action = "http://pruebapayu.azurewebsites.net/api/ModuloPagos/EnviarDatosPago", @method = "post", @target = "_blank" }))
                {
                    <form>   
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">    
                                    <label>Test?</label>
                                    @Html.CheckBoxFor(m => m.test, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Descripción de la venta</label>
                                    @Html.TextBoxFor(m => m.description, new { @class = "form-control", @placeholder = "Descripción de la venta" })
                                </div>
                                <div class="form-group">
                                    <label>Valor de la venta</label>
                                    @Html.TextBoxFor(m => m.amount, new { @class = "form-control", @placeholder = "100000" })
                                </div>
                                <div class="form-group">
                                    <label>Valor Impuesto</label>
                                    @Html.TextBoxFor(m => m.tax, new { @class = "form-control", @placeholder = "19000" })
                                </div>
                                <div class="form-group">
                                    <label>Porcentaje Impuesto</label>
                                    @Html.TextBoxFor(m => m.taxReturnBase, new { @class = "form-control", @placeholder = "0.19" })
                                </div>
                                <div class="form-group">
                                    <label>Moneda</label>
                                    @Html.TextBoxFor(m => m.currency, new { @class = "form-control", @placeholder = "COP" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nombre Completo del Comprador</label>
                                    @Html.TextBoxFor(m => m.buyerFullName, new { @class = "form-control", @placeholder = "Pedro Pérez" })
                                </div>
                                <div class="form-group">
                                    <label>Email del Comprador</label>
                                    @Html.TextBoxFor(m => m.buyerEmail, new { @class = "form-control", @placeholder = "email@test.com" })
                                </div>
                                <div class="form-group">
                                    <label>Dirección del Comprador</label>
                                    @Html.TextBoxFor(m => m.shippingAdress, new { @class = "form-control", @placeholder = "Calle 123 No 45-67" })
                                </div>
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    @Html.TextBoxFor(m => m.shippingCity, new { @class = "form-control", @placeholder = "Bogotá" })
                                </div>
                                <div class="form-group">
                                    <label>País</label>
                                    @Html.TextBoxFor(m => m.shippingCountry, new { @class = "form-control", @placeholder = "Colombia" })
                                </div>
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    @Html.TextBoxFor(m => m.telephone, new { @class = "form-control", @placeholder = "32045615648" })
                                </div>
                                @Html.Hidden("asopagosAppId", "1")
                                @Html.Hidden("asopagosSignature", "bf1925e39f9f42c6260dcf7ebe2e674729c388e95b1cf03ae973fd1be62d98d2")
                            </div>
                        </div>

                        <br />
                        <div class="row text-center">
                            <input type="submit" id="Guardar" class="btn btn-success" value="Enviar" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>





    
   